# .NET
bin/
obj/
*.user
*.suo
*.cache
*.log
.vs/
*.user
*.userosscache
*.sln.docstates
*.db
*.db-shm
*.db-wal

# IDE
.idea/
.vscode/
*.swp

# OS
Thumbs.db
.DS_Store

# Build
publish/
out/

# Misc
MyoStore.txt
Ads*
Hakk*m*zda.png
Kategori.png
repos/
