<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>

        <div>
            <p> Sabit içerik burada ...... </p>
        </div>
        <br />
        <br />

        @RenderBody()
    </div>
</body>
</html>
