@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_MyLayout";

    var ad = "Kadir";
    var soyad = "HALTAŞ";
    var sicil = "20187";
    var yas = 42;
}


<div>
    <b>AD:</b><span>@(ad)</span><br />
    <b>SOYAD:</b><span>@(soyad)</span><br />
    <b>SİCİL:</b><span>@sicil</span><br />
    <b>YAS :</b><span>@yas+2</span>
</div>

